.sidebar
{
    display: flex;
    padding:20px 0px 10px 10px;
    height:100%;
    flex:0.5;
    max-width:140px;
    border-right:1px solid #ddd;

}
.sidebar_container
{
    margin:10px 0;
    display:flex;
    width: 100%;

}
.sidebar_option_container
{
    display:flex;
    flex-direction:column;
width:200px;
}
.sidebar_option{
    display: flex;
    flex-direction: column;
    margin:10px 0;
    font-size: 14px;
}

a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.534);
}
a:hover{
    color:black;
    }

    .sidebar_option>p
    {
color:rgba(0,0,0,0.5);
font-size:14px;
    }
.link
{
    display:flex;
    flex-direction:column;
}
.link_tag
{
    display:flex;
    align-content: center;
    padding:5px 0;
    width:100%;
}
.link_tag:hover{
    border-right: 5px solid rgba(245,162,9);
}
.link_tag>.MuiSvgIcon-root
{
    font-size:18px;
    margin-right:5px;
    color :rgba(245,162,9);
}
.tags
{
    display:flex;
    flex-direction:column;
    color:rgba(0,0,0,0.534);
    margin: 0px 20px;
}
.tags>p{
    margin:5px 0;
    cursor:pointer
}
.tags>p:hover{
    color:black;
}