.auth {
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    height: 90vh;
    padding: 30px 0;
    /* background-color: #eee; */
   
}
  .auth_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
   
  }
  
  .auth_container > p {
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
  
  .sign_options {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .google_auth {
    display: flex;
    padding: 9px;
    margin: 5px 0;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.8);
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(66, 42, 42, 0.19);
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .google_auth:hover {
    box-shadow: 0 4px 8px 0 #0095ff15, 0 6px 20px 0 #0095ff52;
  }
  
  .google_auth > p {
    margin-left: 10px;
  }
  .google_auth>img {
    width: 20px;
  padding: 10px;
    height:30px;
  }
  
  .auth_login {
    display: flex;
    margin: 40px 0;
    width: 300px;
  }
  
  .auth_login_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(66, 42, 42, 0.19);
    border-radius: 3px;
  }
  
  .input_field {
    display: flex;
    flex-direction: column;
  }
  
  .input_field > p {
    font-size: 1.1rem;
    margin: 10px 0;
  }
  
  .input_field > input {
    padding: 10px;
    border: 1px solid #0095ff8e;
    background-color: transparent;
    border-radius: 3px;
    outline: none;
  }
  button{
      margin-top:10px;
  }
  .register
  {
      margin-top:10px;
      text-align:center;
      color: blue;
      text-decoration:underline;
      cursor:"pointer";
  }
  .heading
  {
    text-align: center;
  }

  @media(width<660px)
  {
    .auth_container 
    {
      width:550px;
      padding:10px;
    }
  }